.tabs {
  position: relative;
  height: 48px;
  background-color: #fff;
  margin: 0 auto;
  width: 100%;
  white-space: nowrap; }
  .tabs .tab {
    display: block;
    float: left;
    text-align: center;
    line-height: 48px;
    height: 48px;
    padding: 0 20px;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: .8px;
    width: 15%; }
    .tabs .tab a {
      color: #546e7a;
      display: block;
      width: 100%;
      height: 100%;
      -webkit-transition: color .28s ease;
      -moz-transition: color .28s ease;
      -o-transition: color .28s ease;
      -ms-transition: color .28s ease;
      transition: color .28s ease; }
      .tabs .tab a:hover {
        color: #b0bec5; }
    .tabs .tab.disabled a {
      color: #b0bec5;
      cursor: default; }
  .tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #546e7a;
    will-change: left, right; }

.tabs .tab {
  padding: 0; }